body{
    margin: 0;
}
.heading{
    position: relative;
    display: flex;
    padding: 2px;
    background-color: brown;
    justify-content: space-between;
}
.heading h1{
    margin: 10px;
    font-weight: 600;
    color: rgb(0, 196, 20);
    background-color: rgb(242, 242, 51);
    padding: 5px;
    border-radius: 10px;
}
.box{
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: aqua;
}
